body {
	background-color: #ef0b17;
}

h1 {
	font-size: 2em;
	text-decoration: bold;
	text-align: center;
}

section {
	font-size: 1.25em;
	padding-left: 50px;
	padding-right: 50px;
}

p {
	text-indent: 50px;
	font-size: 1.2em;
}

nav {
	text-align: center;

}

ul {
	list-style-type: none;
	background-color: #333;
	max-width: 75%;
}

li a {
	position: absolute;
    left: -80px;
    transition: 0.5s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white; 
    border-radius: 0 5px 5px 0;
}

li a:hover {
	background-color: black;
	color: red;
	left: 0px;
}

li a:not(.active) {
	background-color: black;
}

.active {
	background-color: #fffb38;
	color: black;
}

#home {
	top: 20px;
}

#about {
	top: 80px;
}

#directions {
	top: 140px;
}

#tuition {
	top: 225px;
}

#majors {
	top: 310px;
}

#sports {
	top: 370px;
}

#login {
	top: 430px;
}

#sign_up {
	top: 490px;
}

footer {
	text-align: center;
}