header {
    background-color: #DC2C13;
    text-align: center;
    font-size: 30px;
    height: 250px;
    padding: 40px;
}

section {
    background-color: #FFFFFF;
    max-width: 1000px;
    padding: 5px;
}

body {
  background: #ece3d7;
}

table {
    background: #ece3d7;
    padding: 10px;
    font-size: 16px;
    border-style: groove;
    border-width: 5px;
}

h1 {
    font-size: 24px;
    font-family: monospace, sans seriff;
}

h2 {
    font-family: cursive, seriff;
}

h3 {
    font-family: lucida console, seriff;
    }

article {
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
}

p {
    font-size: 18px;
}

#summary {
    font-family: cursive, seriff;
}

.mens {
    font-size: 18px;
}

.womens {
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding-left: 14px;
    padding-right: 16px;
    text-decoration: none;
}

footer {
    text-align: center;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #665959;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.listtxt {
  font-size: 18px;
}

label {
  font-size: 18px;
}