header {
background-color: #931a2a;
color: #f9e5af;
font-size: 30px;
height: 100px;
padding: 25px;
}

section {
    background-color: #FFFFFF;
    max-width: 1000px;
    padding: 5px;
}

body {
  background: #ece3d7;
}

h1 {
    font-size: 24px;
    font-family: monospace, sans seriff;
}

h2 {
    font-family: cursive, seriff;
}

h3 {
    font-family: lucida console, seriff;
    }

article {
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding-left: 14px;
    padding-right: 16px;
    text-decoration: none;
}
